/*
  DISCLAIMER: This example code is provided for educational and demonstration purposes.
  It may not represent best practices for security and/or performance and is not intended for production use.
*/
body.no-scroll {
  overflow: hidden; /* Prevent the story scrolling while splash screen in place */
  background-color: #ffffff; /* Background color while the embedded story loads */
}
/* Splash screen overlay */
.splash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.splash-overlay .splash-screen {
  text-align: center;
  background-color: #ffffff;
  min-width: 350px;
  max-width: 30%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.splash-overlay .splash-screen h1 {
  font-family: "Roboto Condensed";
  color: #000000;
  font-size: 4em;
  margin-bottom: 10px;
}

.splash-overlay .splash-screen p {
  font-family: "Roboto";
  color: #000000;
  font-size: 2em;
  margin-bottom: 20px;
}

.splash-overlay .splash-screen button {
  font-family: "Roboto Condensed";
  padding: 10px 20px;
  font-size: 2em;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.splash-overlay .splash-screen button:hover {
  background-color: #353535;
}

body {
  margin: 0;
}
